.containerGeneral {
    background-color: #BAB4F2;
    border-radius: 5px;
    flex-direction: row;
    width: 604px;
    height: 199px;
    position: absolute;
    top: 82px;
    left: 42px;
}
.containerEducation {
    background-color: #66B685;
    border-radius: 5px;
    flex-direction: row;
    width: 604px;
    height: 199px;
    position: absolute;
    top: 382px;
    left: 55px;
}
.containerExperience {
    background-color: #CCDE7B;
    border-radius: 5px;
    flex-direction: row;
    width: 604px;
    height: 300px;
    position: absolute;
    top: 694px;
    left: 55px;
}