.containerGeneral {
    background-color: #BAB4F2;
    border-radius: 5px;
    flex-direction: row;
    width: 604px;
    height: 199px;
    position: absolute;
    top: 82px;
    left: 42px;
}
.containerEducation {
    background-color: #66B685;
    border-radius: 5px;
    flex-direction: row;
    width: 604px;
    height: 199px;
    position: absolute;
    top: 382px;
    left: 55px;
}
.containerExperience {
    background-color: #CCDE7B;
    border-radius: 5px;
    flex-direction: row;
    width: 604px;
    height: 300px;
    position: absolute;
    top: 694px;
    left: 55px;
}

.containerSubmitDataGeneral{
    background-color: #BAB4F2;
    position: absolute;
    top: 200px;
    left: 789px;
    width: 604px;
    height: 120px;
}

.containerSubmitDataEducation{
    background-color: #66B685;
    position: absolute;
    left: 789px;
    top: 366px;
    width: 604px;
    height: 215px;
}

.containerSubmitDataExperience{
    background-color: #CCDE7B;
    position: absolute;
    left: 789px;
    top: 581px;
    width: 604px;
    height: 298px;
}


.containerThreeComponents{
    background-color: rgba(138, 138, 138, 0.99);
    width: 850px;
    height: 1000px;
}